<div class="navbar">
    <a href="/index.html">SEA-CDM</a>
    <a href="/index.html">Home</a>
    
    <!-- Dropdown 1 -->
    <div class="dropdown">
        <button class="dropbtn">Background
            <i>▼</i>
        </button>
        <div class="dropdown-content">
            <a href="/Background/background.html">Background Information</a>
        </div>
    </div>
    
    <!-- Dropdown 2 -->
    <div class="dropdown">
        <button class="dropbtn">SEA-CDM Documentation
            <i>▼</i>
        </button>
        <div class="dropdown-content">
            <a href="/sea-cdm_documentation/index.html">Page 1</a>
        </div>
    </div>    
    
    <!-- Dropdown 3 -->
    <!-- <div class="dropdown">
        <button class="dropbtn">Section 3
            <i>▼</i>
        </button>
        <div class="dropdown-content">
            <a href="section3/page1.html">Page 1</a>
            <a href="section3/page2.html">Page 2</a>
            <a href="section3/page3.html">Page 3</a>
        </div>
    </div> -->
</div>